<!-- @userがエラーメッセージを保持するか -->
<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <!-- エラーメッセージの数を表示 -->
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
      <!-- エラーメッセージを表示 -->
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    <ul>
  </div>
<% end %>
