<!-- @userがエラーメッセージを保持するか -->
<!-- 13.3.2 Usersオブジェクト以外でも動作するように修正(@user⇒object) -->
<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <!-- エラーメッセージの数を表示 -->
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <ul>
      <!-- エラーメッセージを表示 -->
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    <ul>
  </div>
<% end %>
